{% extends "base.html" %}

{% block body %}
<main class="container">
  <article class="grid">
    <div>
      <h1>Sign in</h1>
      <form onsubmit="submitSignIn(event)">
        <input
          type="email"
          name="username"
          placeholder="Email"
          aria-label="Email"
          autocomplete="email"
          required
        />
        <input
          type="password"
          name="password"
          placeholder="Password"
          aria-label="Password"
          autocomplete="current-password"
          required
        />
        <button type="submit" class="contrast">Login</button>
      </form>
      <div id="google_login"></div>
    </div>
  </article>
</main>

<script src="https://accounts.google.com/gsi/client" async defer></script>
<script>
  function handleCredentialResponse(response) {
    console.log("Encoded JWT ID token: " + response.credential);
  }
  window.onload = function () {
    google.accounts.id.initialize({
      client_id:
        "646296656842-au16s36h2p8bqibe13fr60qfkhglkbfp.apps.googleusercontent.com",
      callback: handleCredentialResponse,
    });
    google.accounts.id.renderButton(
      document.getElementById("google_login"),
      { theme: "outline", size: "large" }, // customization attributes
    );
    google.accounts.id.prompt(); // also display the One Tap dialog
  };
</script>
{% endblock %}
